.outer {
  background: #21663F;
  height: 100vh;

}

.inner {
  text-align: center;
  color: whitesmoke;
}

.center_div {
  margin: auto;
  padding-left: 10%;
  width: 35%;
  border: 5px solid rgb(10, 65, 28);
  color: whitesmoke;
  background: #223;
  border-radius: 5%;
}
