section {
  min-height: 100vh;
  background: #21663F;
  color: #CCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#blueBttn {
  margin-top: 2%;
}

h1 {
  margin: 0;
  text-align: center;
}


label,
input,
button {
  display: block;
}

input {
  width: 100%;
  color: black;
}

#centered-content {
  margin: 0 auto;
  background: #222233;
  padding: 45px;
  border-radius: 5%;
}
