p {
  text-align: center;
}

ol {
  margin: auto;
}

li {
  text-align: center;
}

button {
  margin: auto;
  text-align: center;
}

section {
  min-height: 100vh;
  background: #223;
  color: #CCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  text-align: center;
}


label,
input,
button {
  display: block;
}

input {
  width: 100%;
  color: black;
}

#centered-content {
  margin: 0 auto;
}
